<div class="add mb-4">
    <h3>Добавление данных</h3>

<!-- Кнопка-триггер модального окна -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCashflowModal">
        + Запись
    </button>

    <!-- Группа кнопок-триггеров модальных окон -->
    <div class="btn-group" role="group" aria-label="Basic button group" style="margin-left: 20px;">
        <button type="button" class="btn btn-primary">+ Статус</button>
        <button type="button" class="btn btn-primary">+ Тип</button>
        <button type="button" class="btn btn-primary">+ Категория</button>
        <button type="button" class="btn btn-primary">+ Подкатегория</button>
    </div>
</div>