<div class="mb-4">
    <h3>Фильтры</h3>
    <form id="filterForm" method="get">
        <div class="row">
            <div class="col">
                <label for="filterDate">Дата</label>
                <input type="date" id="filterDate" class="form-control" name="date"
                       value="{{ request.GET.date }}">
            </div>
            <div class="col">
                <label for="filterStatus">Статус</label>
                <select id="filterStatus" class="form-control" name="status">
                    <option value="">Выберите статус</option>
                    {% for status in statuses %}
                        <option value="{{ status.id }}" {% if request.GET.status == status.id|stringformat:"s" %}selected{% endif %}>
                            {{ status.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="filterType">Тип</label>
                <select id="filterType" class="form-control" name="type">
                    <option value="">Выберите тип</option>
                    {% for type in types_cashflow %}
                        <option value="{{ type.id }}" {% if request.GET.type == type.id|stringformat:"s" %}selected{% endif %}>
                            {{ type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="filterCategory">Категория</label>
                <select id="filterCategory" class="form-control" name="category">
                    <option value="">Выберите категорию</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                            {{ category.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="filterSubcategory">Подкатегория</label>
                <select id="filterSubcategory" class="form-control" name="subcategory" {% if not request.GET.category %}disabled{% endif %}>
                    {% if request.GET.category %}
                        {% for sub in subcategories %}
                            {% if sub.category.id|stringformat:"s" == request.GET.category %}
                                <option value="{{ sub.id }}" {% if request.GET.subcategory == sub.id|stringformat:"s" %}selected{% endif %}>
                                    {{ sub.name }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <option value="">Сначала выберите категорию</option>
                    {% endif %}
                </select>
            </div>
            <div class="col align-self-end">
                <button type="submit" class="btn btn-primary" style="width: 100%;">Применить фильтр</button>
            </div>

            <div class="col align-self-end">
                <a href="{% url 'main_page' %}" class="btn btn-secondary" style="width: 100%;">Сбросить фильтры</a>
            </div>
        </div>
    </form>
</div>
